@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #cee8f2;
  --card-color: #093040;
  --title-color: #0b1726;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  background: var(--main-color);
}
